$maxWidth: 1440;
$maxWidthContainer: 1270;
$white: #fff;
$black: #000;
$md-1: $maxWidthContainer + 15;
$md-2: 991.98;
$md-3: 767.97;
$md-4: 525.98;
$fontFamily: "Gilroy";
$fontSize: 16px;
$mainColor: #3a3a3a;
